*{
    margin:0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
    font-family: tahoma;
}

ul{
    list-style: none;
    height: 100%; width: 100px;
    position: fixed;
    top: 0; left: 0;
    background: crimson;
    box-shadow: 2px 0px 5px black;
}